doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title Conversatorios Cayetano
        link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        script(src='https://www.google.com/recaptcha/api.js' async='' defer='')
        //- script(async).
        //-     (function(h,o,t,j,a,r){
        //-     h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        //-     h._hjSettings={hjid:3659234,hjsv:6};
        //-     a=o.getElementsByTagName('head')[0];
        //-     r=o.createElement('script');r.async=1;
        //-     r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        //-     a.appendChild(r);
        //-     })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
    body
        .bloque1 
            .bloque1Left
                img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/ad-salud-pge-top.webp", alt="")
                img.adm-salud--logo(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/ad-salud-pge-logo.webp", alt="")
                //- img.nurse_pic(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/pge-educacion-top-image.webp", alt="egel_enfermeria_image3", loading="lazy")
                //- img.nurse_top(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/08/egel_enfermeria_image1.webp", alt="egel_enfermeria_image1", loading="lazy")
                //- img.nurse_bottom(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/08/egel_enfermeria_image2.webp", alt="egel_enfermeria_image2", loading="lazy")
                //- img.bloque1_logo(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/pge-logo.png", alt="egel-new-logo", loading="lazy")
                .bloque1TitleContainer
                    .bloque1TitleContainer--nueva
                        img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/amd-salud-pge-image1.webp", alt="")
                        h3 Nueva carrera
                    .bloque1TitleContainerTitle
                        .bloque1TitleContainer--title1
                            h4 Cayetano es
                        .bloque1TitleContainer--title2
                            h4 Administración en Salud
                        .bloque1TitleContainer--title3
                            h4 para gente que trabaja
                    .bloque1TitleContainer--fecha
                        h3 Inicio de clases: <strong>Agosto</strong>
            .bloque1Right
                img.logo_desktop(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/logo_one-scaled.webp", alt="logo_one-scaled", loading="lazy")
                img.rightImage1(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/08/egel_enfermeria_image5.webp", alt="egel_enfermeria_image5", loading="lazy")
                img.rightImage2(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/08/egel_enfermeria_image6.webp", alt="egel_enfermeria_image6", loading="lazy")
                .bloque1RightContainer
                    .bloque1Title 
                        h3 
                            span Déjanos tus datos y 
                            br
                            | nos contactaremos contigo
                    .bloque1Grid
                        .inpudouble
                            input(type="text" placeholder="Nombres*")
                            input(type="text" placeholder="Apellidos*")
                        .inpudouble
                            input(type="text" placeholder="Tipo de documento*")
                            input(type="text" placeholder="Nro de documento*")
                        input(type="text" placeholder="Celular*")
                        input(type="text" placeholder="Correo*")
                    .bloqueTerminos
                        input(type="checkbox")
                        h3 Política de privacidad y los términos de servicios
                    .captcha
                        #recap3503766000237491098.g-recaptcha(data-sitekey='6LdqkDoiAAAAALdLtgIzFUQelkS9jGZU4W7gjLHG' data-theme='light' data-callback='rccallback3503766000237491098' captcha-verified='false')
                        #recapErr3503766000237491098(style='font-size:12px;color:red;visibility:hidden;') Error en validación de Captcha. Si no es un robot, inténtelo de nuevo.
                    .bloqueButton 
                        button 
                            h3 QUIERO MÁS INFORMACIÓN
        .bloque2
            .bloque2Title
                h3 Una <strong>nueva carrera</strong> que responde a la creciente demanda de profesionales y servicios en el sector Salud.
            .bloque5Slider
                .slider__container3.swiper.mySwiper3
                    .slider__grid3.swiper-wrapper
                        .slider__item3.swiper-slide
                            .sliderItemInfo3
                                img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/pge-adm-salud-icon1-mobile.webp", alt="")
                                h3 Impulsa un sistema de salud más sostenible y accesible.
                        .sliderSeparatorDesktop
                            .separator
                        .slider__item3.swiper-slide
                            .sliderItemInfo3
                                img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/pge-adm-salud-icon3-mobile.webp", alt="")
                                h3 Lidera nuevos modelos de negocio y productos en salud.
                        .sliderSeparatorDesktop
                            .separator
                        .slider__item3.swiper-slide
                            .sliderItemInfo3
                                img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/pge-adm-salud-icon2-mobile.webp", alt="")
                                h3 Prepárate para ser parte de un mercado laboral en crecimiento.
                .swiper-pagination3
                .swiper-arrows
                    h3 |
                    .swiper-button-prev3
                        img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/egel_enfermeria_arrow_left.webp", loading="lazy" alt="egel_enfermeria_arrow_left")
                    .swiper-button-next3
                        img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/egel_enfermeria_arrow_right.webp", loading="lazy", alt="egel_enfermeria_arrow_right")
        .bloque4
            img.bloque4ImageTop(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/pge-adm-salud-arrow-block4-mobile-image1.webp", loading="lazy", alt="egel_enfermeria_image5")
            img.bloque4ImageBottom(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/pge-adm-salud-arrow-block4-mobile-image2.webp", loading="lazy", alt="egel_enfermeria_image5")
            .bloque4Container
                .bloque4Title
                    h3 ¿Por qué estudiar 
                        span Administración en Salud 
                        | en PGE Cayetano?
                .bloque4Slider
                    .slider__container1.swiper.mySwiper2
                        .slider__grid1.swiper-wrapper
                            .slider__item1.swiper-slide
                                .sliderItemInfo1
                                    .sliderItemInfo1--top 
                                        img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/amd-salud-pge-icon-image4.webp", alt="")
                                        h3 Modalidad
                                            br 
                                            span virtual
                                    h4 
                                        span Modalidad <strong>virtual</strong> 
                                        | Para que puedas trabajar y estudiar sin complicaciones.
                            .slider__separator
                                .separator
                            .slider__item1.swiper-slide
                                .sliderItemInfo1
                                    .sliderItemInfo1--top 
                                        img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/amd-salud-pge-icon-image5.webp", alt="")
                                        h3 Horarios 
                                            br
                                            span flexibles
                                    h4 
                                        span Horarios <strong>flexibles</strong>
                                        | Martes, jueves de 6:30 p. m. a 10:30 p. m. y sábados de 9:00 a. m. a 6:00 p. m.
                            .slider__separator
                                .separator
                            .slider__item1.swiper-slide
                                .sliderItemInfo1
                                    .sliderItemInfo1--top 
                                        img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/amd-salud-pge-icon-image6.webp", alt="")
                                        h3 Certificaciones 
                                            span progresivas
                                    h4 
                                        span Certificaciones <strong>progresivas</strong>
                                        | Gestión empresarial Innovación y tecnología Talento y gestión de personas Gestión comercial.
                            .slider__separator
                                .separator
                            .slider__item1.swiper-slide
                                .sliderItemInfo1
                                    .sliderItemInfo1--top 
                                        img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/amd-salud-pge-icon-image7.webp", alt="")
                                        h3 Experiencias 
                                            span prácticas
                                    h4 
                                        span Experiencias <strong>prácticas</strong>
                                        | Aprende en entornos reales, como corredores de seguros, clínicas y centros de salud.
                    .swiper-arrows1
                        h3 |
                        .swiper-button-prev2
                            img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/pge-adm-salud-arrow-left-black.webp", loading="lazy" alt="egel_enfermeria_arrow_left_black")
                        .swiper-button-next2
                            img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/pge-adm-salud-arrow-right-black.webp", loading="lazy" alt="egel_enfermeria_arrow_rigjt_black")
        .bloque5
            .bloque5Container
                h3 Cambia tu futuro con la única carrera de 
                    span Administración en Salud del Perú
                button
                    h3 Descargar brochure
        .bloque3
            img.bloque3ImageDesktop(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/pge-enfermeria-bloque2-shield.webp", alt="")
            img.bloque3ShieldMovil(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/pge-adm-salud-block3-mobile-shield.webp", loading="lazy", alt="egel_enfermeria_image7")
            .bloque3Container
                .bloque3Title
                    h3 Cayetano es 
                        span prestigio 
                        | y 
                        span calidad educativa
                .bloque3Slider
                    .slider__container2.swiper.mySwiper4
                        .slider__grid2.swiper-wrapper
                            .slider__item2.swiper-slide
                                .sliderItemInfo2
                                    .sliderItemInfo2--top
                                        h3
                                            span +
                                            | 62
                                        h4 años de 
                                            br 
                                            | excelencia
                                    h3.sliderItemInfo2--desc Formamos profesionales de vanguardia que lideran el sector salud.
                            .slider__item2.swiper-slide
                                .sliderItemInfo2
                                    .sliderItemInfo2--top
                                        h3  
                                            span +
                                            | 200
                                        h4 convenios internacionales
                                    h3.sliderItemInfo2--desc Accede a intercambios en las universidades más prestigiosas a nivel mundial.
                            .slider__item2.swiper-slide
                                .sliderItemInfo2
                                    .sliderItemInfo2--top
                                        h4.sliderItemInfo2--top--final Formación especializada
                                    h3.sliderItemInfo2--desc Somos la universidad N.° 1 en Salud, con docentes de reconocida trayectoria, activos en el campo y comprometidos con tu formación.
                    .swiper-arrows2
                        h3 |
                        .swiper-button-prev4
                            img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/pge-adm-salud-arrow-left-black.webp", loading="lazy", alt="egel_enfermeria_arrow_left_black")
                        .swiper-button-next4
                            img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/pge-adm-salud-arrow-right-black.webp", loading="lazy", alt="egel_enfermeria_arrow_rigjt_black")
                //- .swiper-pagination3
        .bloque6
            img.bloque6ShieldBack(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/pge-educacion-bloque6-shield-movil.webp", loading="lazy" alt="egel_enfermeria_image9")
            img.bloque6ShieldBackDesktop(src="", loading="lazy" alt="egel_enfermeria_image9")
            .bloque6Container
                .bloque6ContainerTop
                    h3 Líderes formando líderes de 
                        span excelencia
                    h4 Sé parte de la innovadora carrera de Administración en Salud en PGE Cayetano.
                .bloque6Desktop
                    .bloque6Image 
                        img(src="https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/pge-adm-salud-admin.webp", loading="lazy" alt="egel_enfermeria_image8")
                    .bloque6Description
                        .bloque6DescriptionTop
                            .bloque6DescriptionTopSeparator
                                .bloque6DescriptionTopSeparatorBlock
                            h3 Virgilio Holguín Reyes
                            h4 Director de la Facultad de Educación en PGE
                        .bloque6DescriptionBottom
                            h3 “Estudiar en Cayetano te permitirá potenciar la enseñanza y lograr resultados significativos en el aprendizaje de tus niñas y niños. Además, fortalecerás tu vocación con un liderazgo pedagógico comprometido con su bienestar y la excelencia educativa”.
        .bloque7
            .bloque7Container
                h3 Estamos entre los mejores de Latinoamérica y el Mundo
            video(autoplay='true' loop)
                source(src='https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/video_mundo_pge.mp4' loading="lazy" type='video/mp4')
                |   Your browser does not support the video tag.
        .bloque8
            .bloque8Container
                .bloque8Title
                    h3
                        | Somos la 
                        span universidad #1 del Per&uacute; 
                        | y estas instituciones lo respaldan
                .bloque8Desktop
                    .slider__container.swiper.mySwiper7
                        .slider__grid.swiper-wrapper
                            .slider__item.swiper-slide
                                .sliderItemInfoDesktop
                                    .sliderItemInfoDesktopGrid
                                        .sliderItemInfoDesktopItem
                                            img(src='https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/gpe-icon1.webp' loading='lazy' alt='gpe-icon1')
                                            .sliderItemInfoDesktopItemContainer
                                                h3 1
                                                h4
                                                    | en Per&uacute;
                                                    br
                                                    span Ranking mejores universidades (2025)
                                        .sliderItemInfoDesktopItem.sliderItemInfoDesktopItemSeparator
                                            img(src='https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/gpe-icon2.webp' loading='lazy' alt='gpe-icon2')
                                            .sliderItemInfoDesktopItemContainer
                                                h3 1
                                                h4
                                                    | en Per&uacute;
                                                    br
                                                    span Ranking mejores universidades a nivel mundial (2024)
                                        .sliderItemInfoDesktopItem
                                            img.sliderItemInfoDesktopItemImage3(src='https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/gpe-icon3.webp' loading='lazy' alt='gpe-icon3')
                                            .sliderItemInfoDesktopItemContainer
                                                h3 1
                                                h4
                                                    | en Per&uacute;
                                                    br
                                                    span Ranking mejores universidades del mundo (2024-2025)
                            .slider__item.swiper-slide
                                .sliderItemInfoDesktop
                                    .sliderItemInfoDesktopGrid
                                        .sliderItemInfoDesktopItem
                                            img(src='https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/ui-green-metric-12-03.png' loading='lazy' alt='gpe-icon4')
                                            .sliderItemInfoDesktopItemContainer
                                                h3 1
                                                h4
                                                    | en Per&uacute;
                                                    br
                                                    span Ranking mejores universidades en sostenibilidad (2024)
                                        .sliderItemInfoDesktopItem.sliderItemInfoDesktopItemSeparator
                                            img.sliderItemInfoDesktopItem5(src='https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/gpe-icon5.webp' loading='lazy' alt='gpe-icon5')
                                            .sliderItemInfoDesktopItemContainer
                                                h3 1
                                                h4
                                                    | en Per&uacute;
                                                    br
                                                    span &Uacute;ltimo Ranking de Excelencia
                                        .sliderItemInfoDesktopItem
                                            img.sliderItemInfoDesktopItem5(src='https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/gpe-icon5.webp' loading='lazy' alt='gpe-icon5')
                                            .sliderItemInfoDesktopItemContainer
                                                h3 1
                                                h4
                                                    | en Per&uacute;
                                                    br
                                                    span Ranking Hist&oacute;rico de Instituciones Universitaria
                        .swiper-arrows3
                            h3 |
                        .swiper-button-prev7
                            img(src='https://lp.cayetano.edu.pe/wp-content/uploads/2024/08/egel_enfermeria_arrow_left_black.webp' loading='lazy' alt='egel_enfermeria_arrow_left_black')
                        .swiper-button-next7
                            img(src='https://lp.cayetano.edu.pe/wp-content/uploads/2024/08/egel_enfermeria_arrow_rigjt_black.webp' loading='lazy' alt='egel_enfermeria_arrow_rigjt_black')
                .bloque8Slider
                    .slider__container.swiper.mySwiper5
                        .slider__grid.swiper-wrapper
                            .slider__item.swiper-slide
                                .sliderItemInfo
                                    .sliderItemInfoContainer
                                        .sliderItemInfoContainerTop
                                            img(src='https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/gpe-icon1.webp' loading='lazy' alt='gpe-icon1')
                                        .sliderItemInfoContainerBottom
                                            .sliderItemInfoContainerBottomLeft
                                                h3 1
                                            .sliderItemInfoContainerBottomRight
                                                h3
                                                    | en Per&uacute;
                                                    br
                                                    span Ranking mejores universidades (2025)
                            .slider__item.swiper-slide
                                .sliderItemInfo
                                    .sliderItemInfoContainer
                                        .sliderItemInfoContainerTop
                                            img.gpe-icon2(src='https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/gpe-icon2.webp' loading='lazy' alt='gpe-icon2')
                                        .sliderItemInfoContainerBottom
                                            .sliderItemInfoContainerBottomLeft
                                                h3 1
                                            .sliderItemInfoContainerBottomRight
                                                h3
                                                    | en Per&uacute;
                                                    br
                                                    span Ranking mejores universidades a nivel mundial (2024)
                            .slider__item.swiper-slide
                                .sliderItemInfo
                                    .sliderItemInfoContainer
                                        .sliderItemInfoContainerTop
                                            img.gpe-icon3(src='https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/gpe-icon3.webp' loading='lazy' alt='gpe-icon3')
                                        .sliderItemInfoContainerBottom
                                            .sliderItemInfoContainerBottomLeft
                                                h3 1
                                            .sliderItemInfoContainerBottomRight
                                                h3
                                                    | en Per&uacute;
                                                    br
                                                    span Ranking mejores universidades del mundo (2024-2025)
                            .slider__item.swiper-slide
                                .sliderItemInfo
                                    .sliderItemInfoContainer
                                        .sliderItemInfoContainerTop
                                            img.gpe-icon3(src='https://upch-repo-comercial.s3.dualstack.us-east-1.amazonaws.com/06-03-25/ui-green-metric.webp' loading='lazy' alt='gpe-icon4')
                                        .sliderItemInfoContainerBottom
                                            .sliderItemInfoContainerBottomLeft
                                                h3 1
                                            .sliderItemInfoContainerBottomRight
                                                h3
                                                    | en Per&uacute;
                                                    br
                                                    span Ranking mejores universidades en sostenibilidad (2024)
                            .slider__item.swiper-slide
                                .sliderItemInfo
                                    .sliderItemInfoContainer
                                        .sliderItemInfoContainerTop
                                            img(src='https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/gpe-icon5.webp' loading='lazy' alt='gpe-icon5')
                                        .sliderItemInfoContainerBottom
                                            .sliderItemInfoContainerBottomLeft
                                                h3 1
                                            .sliderItemInfoContainerBottomRight
                                                h3
                                                    | en Per&uacute;
                                                    br
                                                    span &Uacute;ltimo Ranking de Excelencia
                            .slider__item.swiper-slide
                                .sliderItemInfo
                                    .sliderItemInfoContainer
                                        .sliderItemInfoContainerTop
                                            img(src='https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/gpe-icon5.webp' loading='lazy' alt='gpe-icon6')
                                        .sliderItemInfoContainerBottom
                                            .sliderItemInfoContainerBottomLeft
                                                h3 1
                                            .sliderItemInfoContainerBottomRight
                                                h3
                                                    | en Per&uacute;
                                                    br
                                                    span Ranking Hist&oacute;rico de Instituciones Universitarias
                        .swiper-arrows3
                            h3 |
                        .swiper-button-prev5
                            img(src='https://lp.cayetano.edu.pe/wp-content/uploads/2024/08/egel_enfermeria_arrow_left_black.webp' loading='lazy' alt='egel_enfermeria_arrow_left_black')
                        .swiper-button-next5
                            img(src='https://lp.cayetano.edu.pe/wp-content/uploads/2024/08/egel_enfermeria_arrow_rigjt_black.webp' loading='lazy' alt='egel_enfermeria_arrow_rigjt_black')
        .bloque9
            .bloque9Container
                img.bloque9Back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/08/egel_enfermeria_image12.webp", loading="lazy" alt="egel_enfermeria_image12")
                .bloque9DesktopCampus
                .bloque9Desktop
                    .bloque9Title
                        h3 Potencia tu trayectoria en 
                            span  una infraestructura de primer nivel
                        h4 Espacios modernos para una vida universitaria en constante crecimiento
                        .bloque9TitleDesktop
                            h3.central Campus Central
                            h3 Campus La Molina
                            h3 Sede Miraflores 
                            h3 Sede San Isidro
                            h3 Sede Santa María
                    .bloque9Slider
                        .slider__container6.swiper.mySwiper6
                            .slider__grid6.swiper-wrapper
                                .slider__item6.swiper-slide
                                    .sliderItemInfo6
                                        .sliderItemInfo6Container
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/08/egel_enfermeria_image11.webp", alt="egel_enfermeria_image11" loading="lazy")
                                            h3 Sede Miraflores
                                .slider__item6.swiper-slide
                                    .sliderItemInfo6
                                        .sliderItemInfo6Container
                                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/08/egel_enfermeria_image11.webp", alt="egel_enfermeria_image11" loading="lazy")
                                            h3 Sede Miraflores
                        .swiper-arrows4
                            h3 |
                        .swiper-button-prev6
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/08/egel_enfermeria_arrow_left_black.webp", loading="lazy" alt="egel_enfermeria_arrow_left_black")
                        .swiper-button-next6
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/08/egel_enfermeria_arrow_rigjt_black.webp", loading="lazy" alt="egel_enfermeria_arrow_rigjt_black")
        footer
            .footerContainer
                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/08/logoupch.png", loading="lazy" alt="logoupch")
                h3 Campus Central
                    br
                    | Av. Honorio Delgado 430
                    br
                    | Urb. Ingeniería, San Martín de Porres
        script(src="./js/script.js" async)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")